<footer th:fragment="foot">
    <span class="footer-style">Copyright &#169; 2023 &nbsp; Medical Assistant Database,
    Customer Service Database, PFAP Database, BLS Application, CSR Float Pool Application,
    Medical Assistant Float Pool Application, Ambulatory Medical Needs Fund Application,
    PFAP Application, <br />High Financial Risk Patient Application, Voucher Application
    Medical Assistant Externship Application and CSR Utilization Application
    are products of SafetyNetAccess.org LLC &#153;. All Rights Reserved.</span>
<br />
<br />
<br />
<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=UutH2ttQjPUwFVBnaxJ9YqxYGbruMnPjqTbFO96mRgL2iVYMTa7lymojdmn7"></script></span>
</footer>

